/* Slider CCS */
@font-face {
  font-family: 'Play';
  font-weight: normal;
  font-style: normal;
}

body {
  /* background-color: #f1f1f1; */
  font-family: 'Play';
  /* margin: 0px; */
  /* padding: 0px; */
  /* position: relative; */
  /* Fix for absolute positioning */
}

/* Slider */

.img-shape {
  height: 330px;
  width: 550px;
}

.icon {
  position: absolute;
  z-index: 1;
  opacity: 0.3;
}

.icon:hover{
  opacity: 1;
}

#icon-left {
  left: 20px;
  top: 140px;
}

#icon-right {
  left: 495px;
  top: 140px;
}

#img-slider {
  width: 550px;
  height: 368px;
  overflow: hidden;
  position: relative;
  margin: 0px 0px;
  float: left;
  /*    margin-left: 0px; */
}

#img-slider figure {
  width: 550px;
  height: 368px;
  margin: 0px 0px;
  position: absolute;
  top: 0;
  left: -550px;
  z-index: 1;
  transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -webkit-transition: all linear 0.5s;
}

#img-slider figure figcaption {
  position:
  absolute;
  bottom: 0;
  right: 520px;
  z-index: 2;
  color: #fff;
  padding: 10px 20px 10px;
  width: 520px;
  background: #333;
  transition: all linear 1s;
  -o-transition: all linear 1s;
  -moz-transition: all linear 1s;
  -webkit-transition: all linear 1s;
  opacity: 0;
}

#img-slider figure figcaption {
  right: 0;
  opacity: 1;
}

#slide-page {
  position: absolute;
  right: 10px;
  bottom: 11px;
  z-index: 10;
}

.img-btn {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.5);
  padding: 4px 9px;
  color: #333;
  border-radius: 20px;
  transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -webkit-transition: all linear 0.5s;
}

.img-btn-clk {
  background: #fff;
}

.img-btn:hover {
  background: #fff;
  color: #666;
  width: auto;
}
